<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simplemage_warmup>
            <general>
                <skip_verify_host>0</skip_verify_host>
            </general>
            <cronjob>
                <enabled>0</enabled>
                <cron_schedule>0 6 * * *</cron_schedule>
                <debug>1</debug>
            </cronjob>
        </simplemage_warmup>
    </default>
</config>
